In [70]:
import joblib

# Define your pipeline (assuming it is already defined as `pipeline`)
# Save the pipeline to a file
joblib.dump(pipeline, 'assets/combined_pipeline.pkl')

['assets/combined_pipeline.pkl']

In [76]:
import joblib

# Load the pipeline from the file
loaded_pipeline = joblib.load('assets/combined_pipeline.pkl')

# Use the loaded pipeline for predictions
y_class_pred, y_reg_pred = loaded_pipeline.predict(X_test)

In [72]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Evaluate classification model
accuracy = accuracy_score(y_class_test, y_class_pred)
precision = precision_score(y_class_test, y_class_pred)
recall = recall_score(y_class_test, y_class_pred)
f1 = f1_score(y_class_test, y_class_pred)

print(f"Classification Model - Accuracy: {accuracy}, Precision: {precision}, Recall: {recall}, F1-Score: {f1}")

# Filter test data based on classification predictions for regression evaluation
X_test_reg = X_test[y_class_pred == 1]
y_reg_test_filtered = y_reg_test[y_class_pred == 1]

# Evaluate regression model
mae = mean_absolute_error(y_reg_test_filtered, y_reg_pred)
mse = mean_squared_error(y_reg_test_filtered, y_reg_pred)
r2 = r2_score(y_reg_test_filtered, y_reg_pred)

print(f"Regression Model - MAE: {mae}, MSE: {mse}, R2: {r2}")

Classification Model - Accuracy: 0.9998206599713056, Precision: 1.0, Recall: 0.9983525535420099, F1-Score: 0.9991755976916735
Regression Model - MAE: 15610.609491043551, MSE: 907077462.8011646, R2: 0.6691194156944285

In [25]:
df = pd.read_csv('assets/prosperLoanData.csv')
df.head()

                ListingKey  ...  Investors
0  1021339766868145413AB3B  ...        258
1  10273602499503308B223C1  ...          1
2  0EE9337825851032864889A  ...         41
3  0EF5356002482715299901A  ...        158
4  0F023589499656230C5E3E2  ...         20

[5 rows x 81 columns]

In [27]:
col = ['ListingNumber',
'BorrowerAPR',
'BorrowerRate', 
'ClosedDate',
'LoanMonthsSinceOrigination', 
'LoanNumber' ,
'LoanOriginationQuarter',
'LP_CustomerPayments' ,
'LP_CustomerPrincipalPayments',
'LoanCurrentDaysDelinquent' ,
'MonthlyLoanPayment' ,
'EmploymentStatus']

df[col]

        ListingNumber  BorrowerAPR  ...  MonthlyLoanPayment EmploymentStatus
0              193129      0.16516  ...              330.43    Self-employed
1             1209647      0.12016  ...              318.93         Employed
2               81716      0.28269  ...              123.32    Not available
3              658116      0.12528  ...              321.45         Employed
4              909464      0.24614  ...              563.97         Employed
...               ...          ...  ...                 ...              ...
113932         753087      0.22354  ...              364.74         Employed
113933         537216      0.13220  ...               65.57         Employed
113934        1069178      0.23984  ...              273.35         Employed
113935         539056      0.28408  ...              449.55        Full-time
113936        1140093      0.13189  ...               64.90         Employed

[113937 rows x 12 columns]

In [51]:
df_1 = pd.read_csv('assets/model_data.csv')

In [52]:
df_1.head()

   LoanStatus       ELA  ...  EmploymentStatus  date_numeric
0           0   63034.0  ...     Self-employed        3513.0
1           0   43120.0  ...          Employed           NaN
2           0   45064.0  ...          Employed           NaN
3           0  127590.0  ...          Employed           NaN
4           0  133260.0  ...          Employed           NaN

[5 rows x 14 columns]

In [53]:
df_1['ClosedDate'].value_counts()

KeyError: 'ClosedDate'

In [41]:
df_1['ClosedDate'] = pd.to_datetime(df_1['ClosedDate'])

In [42]:
reference_date = pd.Timestamp('2000-01-01')

# Convert 'ClosedDate' to numeric format
df_1['date_numeric'] = (df_1['ClosedDate'] - reference_date).dt.days

In [44]:
df_1.head()

   LoanStatus       ELA  ...  EmploymentStatus  date_numeric
0           0   63034.0  ...     Self-employed        3513.0
1           0   43120.0  ...          Employed           NaN
2           0   45064.0  ...          Employed           NaN
3           0  127590.0  ...          Employed           NaN
4           0  133260.0  ...          Employed           NaN

[5 rows x 15 columns]

In [46]:
df_1.drop(columns=['ClosedDate'], inplace=True)

In [47]:
df_1.to_csv('assets/model_data.csv', index=False)

In [54]:
df_1.isna().sum()

LoanStatus                          0
ELA                                 0
ListingNumber                       0
BorrowerAPR                         0
BorrowerRate                        0
LoanMonthsSinceOrigination          0
LoanNumber                          0
LoanOriginationQuarter              0
LP_CustomerPayments                 0
LP_CustomerPrincipalPayments        0
LoanCurrentDaysDelinquent           0
MonthlyLoanPayment                  0
EmploymentStatus                    0
date_numeric                    31237
dtype: int64

In [56]:
df_1.drop(columns=['date_numeric'], inplace=True)

In [57]:
df_1.to_csv('assets/model_data.csv', index=False)

In [90]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression, Lasso
from xgboost import XGBClassifier
from sklearn.base import BaseEstimator, TransformerMixin
import numpy as np

# Load the dataset
df = pd.read_csv('assets/model_data.csv')

# Identify categorical columns
categorical_cols = ['LoanOriginationQuarter', 'EmploymentStatus']

# Encode categorical features using LabelEncoder
le = LabelEncoder()
df[categorical_cols] = df[categorical_cols].apply(le.fit_transform)

# Split data into features and targets
X = df.drop(columns=['LoanStatus', 'ELA'])
y_class = df['LoanStatus']
y_reg = df['ELA']

# Split into training and testing sets
X_train, X_test, y_class_train, y_class_test, y_reg_train, y_reg_test = train_test_split(
    X, y_class, y_reg, test_size=0.2, random_state=42
)

class CustomPipeline(BaseEstimator, TransformerMixin):
    def __init__(self, classifiers, regressors):
        self.classifiers = classifiers
        self.regressors = regressors
        self.scaler = StandardScaler()
        self.encoders = {}
        self.categorical_cols = []  # Initialize as an empty list

    def fit(self, X, y_class, y_reg):
        # Identify categorical columns
        self.categorical_cols = X.select_dtypes(include=['object']).columns.tolist()

        # Fit LabelEncoder for each categorical column
        for col in self.categorical_cols:
            le = LabelEncoder()
            X[col] = le.fit_transform(X[col])
            self.encoders[col] = le

        # Scale the features
        X_scaled = self.scaler.fit_transform(X)

        self.fitted_classifiers = []
        self.fitted_regressors = []

        # Fit classifiers
        for clf in self.classifiers:
            clf.fit(X_scaled, y_class)
            self.fitted_classifiers.append(clf)

        # Fit regressors on filtered data
        for reg in self.regressors:
            X_filtered = X_scaled[y_class == 1]
            y_reg_filtered = y_reg[y_class == 1]
            reg.fit(X_filtered, y_reg_filtered)
            self.fitted_regressors.append(reg)

        return self

    def predict(self, X):
        # Encode categorical features
        for col in self.categorical_cols:
            if col in self.encoders:
                le = self.encoders[col]
                X[col] = le.transform(X[col])
            else:
                raise ValueError(f"Column '{col}' was not seen during fitting.")

        # Scale the features
        X_scaled = self.scaler.transform(X)

        # Predict class
        y_class_preds = np.array([clf.predict(X_scaled) for clf in self.fitted_classifiers])
        y_class_pred = np.apply_along_axis(lambda x: np.argmax(np.bincount(x)), axis=0, arr=y_class_preds)  # Majority voting

        # Predict regression
        X_filtered = X_scaled[y_class_pred == 1]
        if len(X_filtered) == 0:
            return y_class_pred, np.array([])  # No samples for regression

        y_reg_preds = np.array([reg.predict(X_filtered) for reg in self.fitted_regressors])
        y_reg_pred = y_reg_preds.mean(axis=0)  # Averaging for regression

        return y_class_pred, y_reg_pred

# Initialize models
rfc = RandomForestClassifier(random_state=42)
xgb = XGBClassifier(random_state=42)
lr = LinearRegression()
lasso = Lasso(random_state=42, max_iter=10000, alpha=1.0)

classifiers = [rfc, xgb]
regressors = [lr, lasso]

# Create and fit the custom pipeline
pipeline = CustomPipeline(classifiers=classifiers, regressors=regressors)
pipeline.fit(X_train, y_class_train, y_reg_train)

# Make predictions
y_class_pred, y_reg_pred = pipeline.predict(X_test)
print("Classification Predictions:", y_class_pred)
print("Regression Predictions:", y_reg_pred)

joblib.dump(pipeline, 'assets/combined_pipeline.pkl')

Classification Predictions: [0 0 0 ... 0 0 0]
Regression Predictions: [ 96574.62370799 153615.3317471   60712.76680357 ...   8403.70010853
  34819.35512971 150722.80636579]

['assets/combined_pipeline.pkl']

In [93]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import LabelEncoder, StandardScaler
import numpy as np
import pandas as pd

class CustomPipeline(BaseEstimator, TransformerMixin):
    def __init__(self, classifiers, regressors):
        self.classifiers = classifiers
        self.regressors = regressors
        self.scaler = StandardScaler()
        self.encoders = {}
        self.categorical_cols = []

    def fit(self, X, y_class, y_reg):
        # Identify categorical columns
        self.categorical_cols = X.select_dtypes(include=['object']).columns.tolist()

        # Fit LabelEncoder for each categorical column
        for col in self.categorical_cols:
            le = LabelEncoder()
            X[col] = le.fit_transform(X[col])
            self.encoders[col] = le

        # Scale the features
        X_scaled = self.scaler.fit_transform(X)

        self.fitted_classifiers = []
        self.fitted_regressors = []

        # Fit classifiers
        for clf in self.classifiers:
            clf.fit(X_scaled, y_class)
            self.fitted_classifiers.append(clf)

        # Fit regressors on filtered data
        for reg in self.regressors:
            X_filtered = X_scaled[y_class == 1]
            y_reg_filtered = y_reg[y_class == 1]
            reg.fit(X_filtered, y_reg_filtered)
            self.fitted_regressors.append(reg)

        return self

    def predict(self, X):
        # Encode categorical features
        for col in self.categorical_cols:
            if col in self.encoders:
                le = self.encoders[col]
                X[col] = le.transform(X[col])
            else:
                raise ValueError(f"Column '{col}' was not seen during fitting.")

        # Scale the features
        X_scaled = self.scaler.transform(X)

        # Predict class
        y_class_preds = np.array([clf.predict(X_scaled) for clf in self.fitted_classifiers])
        y_class_pred = np.apply_along_axis(lambda x: np.argmax(np.bincount(x)), axis=0, arr=y_class_preds)  # Majority voting

        # Predict regression
        X_filtered = X_scaled[y_class_pred == 1]
        if len(X_filtered) == 0:
            return y_class_pred, np.array([])  # No samples for regression

        y_reg_preds = np.array([reg.predict(X_filtered) for reg in self.fitted_regressors])
        y_reg_pred = y_reg_preds.mean(axis=0)  # Averaging for regression

        return y_class_pred, y_reg_pred

# Initialize models
rfc = RandomForestClassifier(random_state=42)
xgb = XGBClassifier(random_state=42)
lr = LinearRegression()
lasso = Lasso(random_state=42, max_iter=10000, alpha=1.0)

classifiers = [rfc, xgb]
regressors = [lr, lasso]

# Load the dataset
df = pd.read_csv('assets/model_data.csv')

# Identify categorical columns
categorical_cols = ['LoanOriginationQuarter', 'EmploymentStatus']

# Split data into features and targets
X = df.drop(columns=['LoanStatus', 'ELA'])
y_class = df['LoanStatus']
y_reg = df['ELA']

# Split into training and testing sets
X_train, X_test, y_class_train, y_class_test, y_reg_train, y_reg_test = train_test_split(
    X, y_class, y_reg, test_size=0.2, random_state=42
)

# Create and fit the custom pipeline
pipeline = CustomPipeline(classifiers=classifiers, regressors=regressors)
pipeline.fit(X_train, y_class_train, y_reg_train)

# Save the pipeline using joblib
import joblib
joblib.dump(pipeline, 'assets/combined_pipeline.pkl')

['assets/combined_pipeline.pkl']

In [94]:
# Load the pipeline for prediction
pipeline = joblib.load('assets/combined_pipeline.pkl')

# Prepare new data
data = {
    'ListingNumber': [1074836],
    'BorrowerAPR': [0.30748],
    'BorrowerRate': [0.0920],
    'LoanMonthsSinceOrigination': [16],
    'LoanNumber': [102670],
    'LoanOriginationQuarter': ['Q1 2014'],
    'LP_CustomerPayments': [2819],
    'LP_CustomerPrincipalPayments': [1563],
    'LoanCurrentDaysDelinquent': [0],
    'MonthlyLoanPayment': [342],
    'EmploymentStatus': ['Employed']
}
new_data = pd.DataFrame(data)

# Make predictions
y_class_pred, y_reg_pred = pipeline.predict(new_data)

print("Classification Prediction:", y_class_pred)
print("Regression Prediction:", y_reg_pred)

Classification Prediction: [0]
Regression Prediction: []